.btn-success {
  background-color: #961f0f !important;
}
.badge {
  font-size: 13px;
}
.my-custom-class .tooltip-inner {
  background-color: darkgreen;
  font-size: 125%;
}
.my-custom-class .arrow::before {
  border-top-color: darkgreen;
}
