.badge {
  font-size: 13px;
}
.fontBold {
  color: #2b78fe;
  font-weight: bold;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #d3d3d3;
}
.full {
  color: #1e90ff;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #1e90ff;
}
