<div class="modal-header">
  <h4 class="modal-title"
    style="font-size: 17px;">EDIT CLIENT</h4>
  <button type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form #form="ngForm"
        novalidate>
        <div class="form-group row">
          <label for="Name"
            class="col-md-3 col-form-label">Full Name</label>
          <div class="col-md-9">
            <input type="text"
              name="Name"
              [(ngModel)]="RegistrationOb.UserName"
              id="Name"
              class="form-control form-control-md"
              maxlength="60"
              #Name="ngModel"
              required>
            <div class="input-group">
              <div *ngIf="Name.errors && (submitted||Name.dirty || Name.touched)">
                <p *ngIf="Name.errors.required"
                  style="color:red">* Full Name is required</p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="Email"
            class="col-md-3 col-form-label">Email</label>
          <div class="col-md-9">
            <input type="text"
              name="Email"
              [(ngModel)]="RegistrationOb.Email"
              id="Email"
              class="form-control form-control-md"
              required
              #Email="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
            <div class="input-group">
              <div *ngIf="Email.errors &&(submitted||Email.touched || Email.dirty)">
                <p *ngIf="Email.errors.required"
                  style="color:red"> Email is required. </p>
              </div>
              <div [hidden]="!Email.errors?.pattern">
                <p style="color:red"> Email is invalid. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="ContactNo"
            class="col-md-3 col-form-label">Contact No</label>
          <div class="col-md-9">
            <input type="text"
              name="ContactNo"
              (keypress)="numberOnly($event)"
              [(ngModel)]="RegistrationOb.ContactNo"
              id="ContactNo"
              class="form-control form-control-md"
              required
              #ContactNo="ngModel" />
            <div class="input-group">
              <div *ngIf="ContactNo.errors &&(submitted||ContactNo.touched || ContactNo.dirty)">
                <p *ngIf="ContactNo.errors.required"
                  style="color:red"> Contact No is required. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="MonthlyMaxCredit"
            class="col-md-3 col-form-label">Monthly Max Credit</label>
          <div class="col-md-9">
            <input type="text"
              name="MonthlyMaxCredit"
              (keypress)="numberOnly($event)"
              [(ngModel)]="RegistrationOb.MonthlyMaxCredit"
              id="MonthlyMaxCredit"
              class="form-control form-control-md"
              required
              #MonthlyMaxCredit="ngModel" />
            <div class="input-group">
              <div *ngIf="MonthlyMaxCredit.errors &&(MonthlyMaxCredit.touched || MonthlyMaxCredit.dirty)">
                <p *ngIf="MonthlyMaxCredit.errors.required"
                  style="color:red"> Monthly Max Credit is required. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="ReduceCreditPerDoc"
            class="col-md-3 col-form-label">Credit Rate</label>
          <div class="col-md-9">
            <input type="text"
              name="ReduceCreditPerDoc"
              (keypress)="numberOnly($event)"
              [(ngModel)]="RegistrationOb.ReduceCreditPerDoc"
              id="ReduceCreditPerDoc"
              class="form-control form-control-md"
              required
              #ReduceCreditPerDoc="ngModel" />
            <div class="input-group">
              <div *ngIf="ReduceCreditPerDoc.errors &&(ReduceCreditPerDoc.touched || ReduceCreditPerDoc.dirty)">
                <p *ngIf="ReduceCreditPerDoc.errors.required"
                  style="color:red"> Credit Rate is required. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="Location"
            class="col-md-3 col-form-label">Address</label>
          <div class="col-md-9">
            <input type="text"
              name="Location"
              [(ngModel)]="RegistrationOb.Location"
              id="Location"
              class="form-control form-control-md"
              required
              #Location="ngModel" />
            <div class="input-group">
              <div *ngIf="Location.errors &&(Location.touched || Location.dirty)">
                <p *ngIf="Location.errors.required"
                  style="color:red"> Address Is Required. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row"
          style="padding-top: 20px">
          <label for="IsActive"
            style="margin-top: -10px"
            class="col-md-3 col-form-label">Is Active</label>
          <div class="col-md-9">
            <mat-checkbox [(ngModel)]="RegistrationOb.IsActive"
              [checked]="RegistrationOb.IsActive"
              [ngModelOptions]="{standalone: true}"></mat-checkbox>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit"
    class="btn btn-light"
    (click)="SaveOrUpdate()">Update</button>
</div>
