<div class="main-content">
  <div class="container">
    <div class="row"
      style="margin-top: 50px;">
      <div class="col-md-6"
        style="padding-top: 11px;">
        <p style="font-weight: bold;color: #9FABA4;">CHANGE PASSWORD</p>
      </div>

    </div>
    <div class="row d-flex justify-content-md-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <div class="col-md-12">
                <h3><label class="control-label UserName">
                    User Name: </label> {{userModel.Details.UserName}}</h3>
                <!-- <h3><label class="control-label UserName">
                    User Name: </label> {{userModel.Details.UserName}}</h3> -->
              </div>
            </div>

            <form #form="ngForm"
              novalidate>
              <div class="form-group row">
                <label for="OldPassword"
                  class="col-md-3 col-form-label">Old Password</label>
                <div class="col-md-9">
                  <input type="password"
                    name="OldPassword"
                    [(ngModel)]="UserOb.OldPassword"
                    id="OldPassword"
                    class="form-control form-control-md"
                    maxlength="20"
                    minlength="6"
                    required
                    #OldPassword="ngModel" />
                  <div class="input-group">
                    <div *ngIf="OldPassword.invalid && (submitted || OldPassword.touched)">
                      <p *ngIf="OldPassword.errors.required"
                        style="color:red">Old Password is required. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="NewPassword"
                  class="col-md-3 col-form-label">New Password</label>
                <div class="col-md-9">
                  <input type="password"
                    name="NewPassword"
                    [(ngModel)]="UserOb.NewPassword"
                    id="NewPassword"
                    class="form-control form-control-md"
                    maxlength="20"
                    minlength="6"
                    required
                    #NewPassword="ngModel" />
                  <div class="input-group">
                    <div *ngIf="NewPassword.invalid && (submitted || NewPassword.touched)">
                      <p *ngIf="NewPassword.errors.required"
                        style="color:red">New Password is required. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ConfirmPassword"
                  class="col-md-3 col-form-label">Confirm Password</label>
                <div class="col-md-9">
                  <input type="password"
                    name="ConfirmPassword"
                    [(ngModel)]="UserOb.ConfirmPassword"
                    id="ConfirmPassword"
                    class="form-control form-control-md"
                    maxlength="20"
                    minlength="6"
                    pattern="{{ NewPassword.value }}"
                    required
                    #ConfirmPassword="ngModel" />
                  <div *ngIf=" ConfirmPassword.invalid && (submitted || ConfirmPassword.touched)">
                    <p *ngIf="ConfirmPassword.errors.required"
                      style="color:red"> Confirm password is required. </p>
                    <p *ngIf="ConfirmPassword.errors.pattern"
                      style="color:red"> New Password & Confirm Password does not match.</p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-10">
                  <button type="submit"
                    (click)="ChangePassword()"
                    class="
                    btn
                    btn-light
                    btn-round
                    pull-right
                    mat-raised-button">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
