<div class="row">
  <div class="col-md-6"
    style="padding-top: 11px;">
    <p style="font-weight: bold;color: #9FABA4;">PROJECT STAGE</p>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-md-3">
            <mat-form-field *ngIf="ClientList != null">
              <mat-label>Select A Client</mat-label>
              <mat-select [(ngModel)]="clientId"
                (ngModelChange)="onClientChange(clientId)">
                <mat-option *ngFor="let x of ClientList"
                  value="{{x.Value}}">{{x.Text}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <!-- <mat-form-field *ngIf="ProjectList != null">
                  <mat-label>Select A Project</mat-label>
                  <mat-select [(ngModel)]="projectId">
                    <mat-option *ngFor="let x of ProjectList"
                      value="{{x.Value}}">{{x.Text}}</mat-option>
                  </mat-select>
                </mat-form-field> -->
          </div>
          <div class="col-md-6">
            <!-- <button _ngcontent-xej-c8=""
              class="btn btn-success btn-round pull-right mat-raised-button"
              mat-raised-button=""
              (click)="SaveTree()"
              type="submit"><span class="mat-button-wrapper">ADD PROJECT STAGE TREE</span>
              <div class="mat-button-ripple mat-ripple"
                matripple=""></div>
              <div class="mat-button-focus-overlay"></div>
            </button> -->
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>ProjectCode</th>
              <th>ProjectTitle</th>
              <th>Description</th>
              <th>Location</th>
              <th>StatusId</th>
              <th>Stage Tree</th>

            </thead>
            <tbody>
              <tr *ngFor="let a of ProjectList">
                <td>{{a.ProjectCode}}</td>
                <td>{{a.ProjectTitle}}</td>
                <td>{{a.Description}}</td>
                <td>{{a.Location}}</td>
                <!-- <td>{{a.StatusId}}</td> -->
                <td>

                  <span *ngIf="a.StatusId=='1'"
                    class="badge badge-success">Confirmed</span>
                  <span *ngIf="a.StatusId=='2'"
                    class="badge badge-secondary">Pending</span>
                    <span *ngIf="a.StatusId=='3'"
                    class="badge badge-primary">Complete</span>
                  <span *ngIf="a.StatusId=='4'"
                    class="badge badge-danger">Canceled</span>
                  <!-- <span *ngIf="a.StatusName=='Cancel'"
                    class="badge badge-danger">{{a.StatusName}}</span>
                  <span *ngIf="a.StatusName=='Complete'"
                    class="badge badge-danger">{{a.StatusName}}</span> -->
                </td>
                <!-- <td>
                  <span *ngIf="a.StatusId"
                    class="badge badge-success">{{a.Status}}</span>
                  <span *ngIf="!a.StatusId"
                    class="badge badge-warning">{{a.Status}}</span>
                </td> -->
                <td>
                  <mat-form-field>
                    <mat-label>Select A Stage Tree</mat-label>
                    <mat-select [(ngModel)]="a.StageTreeId"
                      (ngModelChange)="SaveTree(a)">
                      <mat-option *ngFor="let x of StageTreeList"
                        value="{{x.Value}}">{{x.Text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>

                <!-- <td>
                            <span *ngIf="a.IsActive"
                              class="badge badge-success">{{a.Status}}</span>
                            <span *ngIf="!a.IsActive"
                              class="badge badge-warning">{{a.Status}}</span>
                          </td> -->

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
