<div class="modal-header">
  <h4 class="modal-title" style="font-size: 17px;">ADD THANA</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form #form="ngForm" novalidate class="row" autocomplete="off">
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Thana Name" name="Name" [(ngModel)]="ThanaOb.Name" maxlength="150" #Name="ngModel"
              required>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="activeModal.close('Cross click')">Close</button>
  <button type="submit" class="btn btn-light" (click)="SaveOrUpdate()">{{popupModel.Id == "0"?"Save":"Update"}}</button>
</div>