<div class="main-content">
    <div class="container-fluid">
            <div class="row"
      style="margin-top: 50px;">
      <div class="col-md-6"
        style="padding-top: 11px;">
        <p style="font-weight: bold;color: #9FABA4;">Daily Package Assign</p>
      </div>
      <div class="col-md-6">
        <button _ngcontent-xej-c8=""
          class="btn btn-light btn-round pull-right mat-raised-button"
          mat-raised-button=""
          (click)="openPackageAddOrEditPopup('0')"
          type="submit"><span class="mat-button-wrapper">Select User</span>
          <div class="mat-button-ripple mat-ripple"
            matripple=""></div>
          <div class="mat-button-focus-overlay"></div>
        </button>
      </div>
    </div>
        <div class="row">
            <div class="col-lg-12" style="top:50px">
                    <strong>User Name:</strong> <span style="margin-right: 10px">{{selectedUser.FullName}}</span> 
                    <strong>Phone Number:</strong> <span>{{selectedUser.PhoneNumber}}</span>
                <div class="control-section">
                    <div class="col-lg-12 content-wrapper">
                        <div class="calendar">
                            <div class="month">
                                <div class="prev" (click)="moveDate('prev')">
                                    <span>&#10094;</span>
                                </div>
                                <div>
                                    <h2 id="month"></h2>
                                    <p id="date_str"></p>
                                </div>
                                <div class="next" (click)="moveDate('next')">
                                    <span>&#10095;</span>
                                </div>
                            </div>
                            <div class="weekdays">
                                <div>Sun</div>
                                <div>Mon</div>
                                <div>Tue</div>
                                <div>Wed</div>
                                <div>Thu</div>
                                <div>Fri</div>
                                <div>Sat</div>
                            </div>
                            <div class="days">
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>