  <!--Footer Start-->
  <footer class="cat_footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <aside class="widget widget_twitter_feed">
                        <h6 class="widget-title">Latest Tweets</h6>
                        <ul>
                            <li>
                                <div class="icon"><i class="fa fa-twitter"></i>
                                </div>
                                <div class="content"> <a href="">@Catering Theme Has Passed 200 Sell</a>
                                    <p>Jan.23.2015</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><i class="fa fa-twitter"></i>
                                </div>
                                <div class="content"> <a href="">@Catering Theme Has Passed 500 Sell</a>
                                    <p>Feb.23.2016</p>
                                </div>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <aside class="widget widget_recent_post">
                        <h6 class="widget-title">Recent Post</h6>
                        <ul>
                            <li>
                                <div class="cat_post_img">
                                    <a href="#"><img src="http://placehold.it/70X60" alt="">
                                    </a>
                                    <div class="cat_dish_img_caption"></div>
                                </div>
                                <div class="cat_post_data">
                                    <a href="#">A Clean Website Gives More Experience Visit</a>
                                    <p>May.29.2015</p>
                                </div>
                            </li>
                            <li>
                                <div class="cat_post_img">
                                    <a href="#"><img src="http://placehold.it/70X60" alt="">
                                    </a>
                                    <div class="cat_dish_img_caption"></div>
                                </div>
                                <div class="cat_post_data">
                                    <a href="#">A Clean Design Gives More Experience Visit</a>
                                    <p>June.29.2016</p>
                                </div>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <aside class="widget widget_cat_instagram">
                        <h6 class="widget-title">instagram</h6>
                        <ul>
                            <li>
                                <div class="footer_intsa_img">
                                    <img src="http://placehold.it/80X70" alt="" />
                                    <div class="cat_dish_img_caption"></div>
                                    <a href="http://placehold.it/640X426" class="insta_zoom cat_insta_gallery"><i class="flaticon-tool-2"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer_intsa_img">
                                    <img src="http://placehold.it/80X70" alt="" />
                                    <div class="cat_dish_img_caption"></div>
                                    <a href="http://placehold.it/640X426" class="insta_zoom cat_insta_gallery"><i class="flaticon-tool-2"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer_intsa_img">
                                    <img src="http://placehold.it/80X70" alt="" />
                                    <div class="cat_dish_img_caption"></div>
                                    <a href="http://placehold.it/640X426" class="insta_zoom cat_insta_gallery"><i class="flaticon-tool-2"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer_intsa_img">
                                    <img src="http://placehold.it/80X70" alt="" />
                                    <div class="cat_dish_img_caption"></div>
                                    <a href="http://placehold.it/640X426" class="insta_zoom cat_insta_gallery"><i class="flaticon-tool-2"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer_intsa_img">
                                    <img src="http://placehold.it/80X70" alt="" />
                                    <div class="cat_dish_img_caption"></div>
                                    <a href="http://placehold.it/640X426" class="insta_zoom cat_insta_gallery"><i class="flaticon-tool-2"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer_intsa_img">
                                    <img src="http://placehold.it/80X70" alt="" />
                                    <div class="cat_dish_img_caption"></div>
                                    <a href="http://placehold.it/640X426" class="insta_zoom cat_insta_gallery"><i class="flaticon-tool-2"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer_intsa_img">
                                    <img src="http://placehold.it/80X70" alt="" />
                                    <div class="cat_dish_img_caption"></div>
                                    <a href="http://placehold.it/640X426" class="insta_zoom cat_insta_gallery"><i class="flaticon-tool-2"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer_intsa_img">
                                    <img src="http://placehold.it/80X70" alt="" />
                                    <div class="cat_dish_img_caption"></div>
                                    <a href="http://placehold.it/640X426" class="insta_zoom cat_insta_gallery"><i class="flaticon-tool-2"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer_intsa_img">
                                    <img src="http://placehold.it/80X70" alt="" />
                                    <div class="cat_dish_img_caption"></div>
                                    <a href="http://placehold.it/640X426" class="insta_zoom cat_insta_gallery"><i class="flaticon-tool-2"></i></a>
                                </div>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <aside class="widget widget_cat_whours">
                        <h6 class="widget-title">Working  Hours</h6>
                        <ul>
                            <li>
                                <a href="#">Monday To Thursday</a>
                                <p>8:30 am to 10:30 pm</p>
                            </li>
                            <li>
                                <a href="#">Friday To Saturday</a>
                                <p>10:00 am to 18:30 pm</p>
                            </li>
                            <li>
                                <a href="#">Sunday</a>
                                <p>Available For Private</p>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="cat_bottom_footer">
    <div class="container">
        <div class="row">
            <div class="cat_copyright  wow zoom">
                <p>&copy; 2017 Privacy Policy</p>
            </div>
        </div>
    </div>
</footer>